/* Styles go here */

body{
  background-color:black;
  color: blue;
}
text {
  font: 12px sans-serif;
    font-weight:bold;
}
.circle {
    background-color: blue;
    height: 100%;
    border-radius: 100%;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
}

.mystyle{

fill: #551A8B!important;
    
}
